
<section class="hero is-medium is-danger is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Weather Now
      </h1>
      <h2 class="subtitle">
        The weather for Inwood, Manhattan every hour
      </h2>
    </div>
  </div>
</section>

<br/>
<br/>

<%= line_chart @weather_data, xtitle: "Time", ytitle: "Temperature (Celsius)" %>

<br/>
<br/>
<br/>
<br/>

<%= react_component("Weather", {weather: @weathers}) %>
